@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.titulo{
    font-family: "Pacifico", cursive;
    font-style: normal;
    justify-content: flex-start;
    padding-bottom: 10px;
    padding-top: 1 px;
    padding-left: 400;
    padding-right: 400;
    color: rgb(134, 62, 12);
    font-size: 60px;
    }
.buscar{
        text-align: right;
        justify-content: flex-start;
        padding-bottom: 10px;
        padding-top: 1px;
        padding-right: 30px;
        padding-left: 10;
       }
.iconitos {text-align: right;
        justify-content: flex-start;
        padding-bottom: 10px;
        padding-top: 1 px;
        padding-right: 30px;
        padding-left: 10;
        }

.navegacion{
    text-align: center;
    background-color: rgb(227, 162, 42) 
    }
.navegacion a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin-left: 50px;
}
.fondo{
    background: url(recursos/portada.jpg)50%/cover no-repeat;
    padding-left: 50px;
    color: white;
    text-align: center;
    padding-bottom: 200px;
    padding-top: 100px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    }

.pie{
    background-color: rgb(227, 162, 42) 
}
.pie a {
    text-decoration: none;
    color:rgba(237, 32, 32, 0.847) ;
    font-size: 20px;


}